@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.titleStyle{
  font-family: "Poppins",sans-serif;  
}
/* Default paragraph styling (Mobile View) */
.paragraphStyle {
    font-size: 1rem;
    max-width: 800px;
    font-family: "Poppins",sans-serif;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 7px;
  }
  
  /* Desktop view (for screens 769px and larger) */
  @media (min-width: 769px) {
    .paragraphStyle {
      font-size: 1.1rem;
    }
  }
  